<?xml version="1.0" encoding="utf-8" ?>
<Template>
  <Name>Page</Name>
  <Alias>Page</Alias>
  <Design><![CDATA[<%@ Master Language="C#" MasterPageFile="~/umbraco/masterpages/default.master" AutoEventWireup="true" %>

<asp:Content ContentPlaceHolderID="ContentPlaceHolderDefault" runat="server">
 
</asp:Content>]]></Design>
</Template>