<?xml version="1.0" encoding="utf-16"?>
<DataType Name="mntp-content-xml" Id="7e062c13-7c41-4ad9-b389-41d88aeef87c" Definition="20a27d86-f064-4044-8f6d-556b83af59eb">
    <PreValues>
        <PreValue Id="71" Value="content" />
        <PreValue Id="73" Value="-1" />
        <PreValue Id="74" Value="False" />
        <PreValue Id="10" Value="1" />
        <PreValue Id="72" Value="True" />
        <PreValue Id="18" Value="200" />
        <PreValue Id="75" Value="0" />
    </PreValues>
</DataType>